html, body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

a{
  color: initial;
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: initial;
  }
}

img{
  user-select: none;
}
