.playIcon, .pauseIcon{
  composes: material-icons from './fonts.css';
  cursor: pointer;
  color: white;
  font-size: 40px;
  padding: 15px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, .5);

  position: relative;
  left: -95px;

  &:hover, &:active {background-color: rgba(0, 0, 0, 0.8);}
}



.border{
  border: solid 1px #dbdbdb;
}

.root{
  composes: border;
  margin-top: 15px;
  padding: 22px;
  background-color: white;
  display: flex;
}

.artwork{
  height: 120px;
  width: 120px;
  min-width: 120px;
}

.artworkArea{
  composes: artwork;
  display: flex;
  align-items: center;

  img{
    height: 100%;
    width: 100%;
    min-width: 100%;
  }
}
.data{
  width: 100%;
  padding-left: 22px;
}

.titleBlock{
  display: flex;
  flex-wrap: wrap;
}
.title{
  margin-right: 8px;
  font-size: 15px;
  text-decoration: underline;
  margin: auto 8px auto 0;
}
.editBlock{
  margin-left: auto;

  span{
    text-decoration: underline;
    cursor: pointer;
  }
}

.description{
  margin: 4px 0;
  font-size: 13px;
  font-style: italic;
}

.iconArea{
  color: #767676;
}

@media (max-width: 450px) {
  .root{
    flex-wrap: wrap;
    justify-content: center;
  }
  .artwork{
    width: 100%;
    height: 100%;
  }

  .artworkArea{
    height: 230px;
    width: 230px;

    .playIcon, .pauseIcon{
      font-size: 80px;
      left: -172px;
    }

  }

  .data{
    padding: 0;
    margin: 20px 0 0;
  }
  .titleBlock{
    justify-content: center;
  }
  .title{
    width: 100%;
    margin: 0 0 14px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .description{
    margin: 10px 0 0;
    font-size: 14px;
  }

  .editBlock{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
}
