.playIcon, .pauseIcon{
  composes: material-icons from './fonts.css';
  cursor: pointer;
  font-size: 40px;
  color: white;
  padding: 14px;
  cursor: pointer;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  &:hover, &:active {background-color: rgba(0, 0, 0, 0.8);}
}



.border{
  border: solid 1px #dbdbdb;
}

.root{
  composes: border;
  margin-top: 15px;
  padding: 22px;
  background-color: white;
  display: flex;
}

.artwork{
  height: 120px;
  width: 120px;
  min-width: 120px;
}

.playPause{
  position: relative;
  width: 70px;
  height: 70px;
  left: 25px;
  bottom: 92px;
}

.data{
  width: 100%;
  padding-left: 22px;
}

.titleBlock{
  display: flex;
  flex-wrap: wrap;
}
.title{
  margin-right: 8px;
  font-size: 15px;
  text-decoration: underline;
  margin: auto 8px auto 0;
}
.editBlock{
  margin-left: auto;

  span{
    text-decoration: underline;
    cursor: pointer;
  }
}

.description{
  margin: 4px 0;
  font-size: 13px;
  font-style: italic;
}

.iconArea{
  color: #767676;
}
