.feedIcon, .whatshotIcon, .searchIcon{
  composes: material-icons from './fonts.css';
  font-size: 22px;
}
.searchIcon{
  font-size: 38px;
  margin-bottom: 8px;
}
.youtubeIcon{
  composes: youtubeIcon from './tabsTheme.css';
}
.soundcloudIcon{
  composes: soundcloudIcon from './tabsTheme.css';
}
.vimeoIcon{
  composes: vimeoIcon from './tabsTheme.css';
}

.root{

}

.leftReg{
  composes: col-md-8 from './bootstrap.css';
  composes: col-xs-12 from './bootstrap.css';

  .searchResultsPlaceholder{
    position: absolute;
    top: 142px;
    left: 35%;
    text-align: center;
  }
}

.rightReg{
  composes: col-md-4 from './bootstrap.css';
  composes: hidden-sm from './bootstrap.css';
}

.recentlyLiked{
  position: absolute;
  padding-left: 14px;
  width: calc(100% - 15px);
  .itemsTitle{
    padding: 8px 0 0;
  }
  .songs{
    border-top: 1px solid #d0d0d0;
  }
}

.feedSourceContent{
  composes: col-md-offset-1 from './bootstrap.css';
  composes: col-md-10 from './bootstrap.css';
  padding: 0;
  background-color: #f2f2f2;
}

.streams{
  padding: 2px 0;
}

.tags{
  composes: tags from './streamDescription.css';
}
.tag{
  composes: tag from './streamDescription.css';
  cursor: pointer;
}
.selectedTag{
  composes: tag;
  background-color: #0e8ffc;
  color: white;
}

/* Tabs */
.navigation{
  box-shadow: none;
}

.label{
  padding: 6px 14px;
  border-radius: 30px;
  text-transform: none;

  &.active{
    color: white;
    background-color: #6b6b6b;
  }
}

.pointer{
  display: none;
}

.navigation{
  box-shadow: none;
}

.tab{
  outline: none;
  padding: 17px 0;
}

.welcomeNote{
  margin: 15px 0;
  padding: 20px;
  background-color: white;
  h2{
    font-weight: 500;
    font-size: 22px;
    margin: 0 0 16px;
  }

  div{
    padding: 16px 0;
    margin: 0;
    color: #343434;
    h4{
      margin: 0;
    }
  }
}
