.root{

}

.leftReg{
  composes: col-xs-8 from './bootstrap.css';
}

.feedSourceContent{
  composes: col-md-offset-1 from './bootstrap.css';
  composes: col-md-10 from './bootstrap.css';
  padding: 0;
}

.streams{
  padding: 2px 0;
}


.feedIcon{
  composes: material-icons from './fonts.css';
  font-size: 22px;
}
.whatshotIcon{
  composes: material-icons from './fonts.css';
  font-size: 22px;
}
