.guestLandingGenreCard{
  display: flex;

  margin: 5px 0;
  padding: 18px;
  border: solid 1px #f4cbf9;
  border-radius: 5px;

  color: #5f00ba;
  letter-spacing: 1.21px;
  background-color: #ffffff;
  background-repeat: repeat;
  &:hover{
    border-color: #5f00ba;
    box-shadow: 2px 2px 5px 3px rgba(209, 209, 209, 0.5);

    .title{
      .activePattern{
        visibility: visible;
      }
    }
  }

  .description{
    margin: 0 14px 56px 0;
    font-size: 24px;
    font-weight: 400;
  }

  .title{
    align-self: flex-end;
    font-size: 48px;
    font-weight: 900;

    .activePattern{
      display: block;
      margin: 0 0 20px auto;
      visibility: hidden;
    }
  }
}
