@import './mixins.css';

.genre{
  position: absolute;
  display: flex;
}

.genreHeader{
  display: inline-block;
  padding: 0 4%;
  background-size: contain;
  @add-mixin mdPaddingOffsetCol 1;
}

.requestSpan{
  font-weight: 500;
  font-size: 13px;
  margin-left: auto;
  color: #9a9a9a;
  cursor: not-allowed;
}


.left{
  composes: col-md-8 from './bootstrap.css';
  composes: col-xs-12 from './bootstrap.css';
  padding: 0 0 58px 0;
  min-height: calc(100vh - 50px);
  background-color: white;
}

.fullHeight{
  position: fixed;
  min-height: 100vh;
  position: absolute;
  min-height: calc(100vh - 50px);
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
}

.leftContent{
  composes: col-md-offset-1 from './bootstrap.css';
  composes: col-md-10 from './bootstrap.css';
}

.tags{
  font-size: 13px;
  background-color: white;
  margin: 16px 0;
  .t{margin: 0 24px 0 6px;}
}

.tag{
  cursor: pointer;
  display: inline-block;
  margin: 4px 6px;
  background: #e8e8e8;
  padding: 4px 14px;
  border-radius: 12px;
}


.right{
  composes: col-md-4 from './bootstrap.css';
  composes: hidden-sm from './bootstrap.css';
  composes: hidden-xs from './bootstrap.css';
  font-size: 13px;
  color: #767676;
  padding: 15px;
}
