.genre{
}

.genreHeader{
  composes: col-md-8 from './bootstrap.css';
  composes: col-xs-12 from './bootstrap.css';
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover
}


.genreData{
  margin-top: 15px;
  padding: 18px 18px 8px 18px;
  background-color: white;
  border: solid 1px #dbdbdb;
  display: flex;
  .artwork{
    height: 120px;
    width: 120px;
  }

  .text{
    width: 100%;
    padding-left: 30px;
    .title{
      display: flex;
      margin-bottom: 4px;
      .title{
        font-size: 15px;
        text-decoration: underline;
      }
      .request{
        font-weight: 500;
        font-size: 13px;
        margin-left: auto;
        color: #9a9a9a;
        cursor: not-allowed;
      }
    }
    .description{
      margin-bottom: 4px;
      font-size: 13px;
    }
    .iconArea{
      color: #767676;
    }
  }
}


.left{
  composes: col-md-8 from './bootstrap.css';
  composes: col-xs-12 from './bootstrap.css';
  background-color: white;
}

.leftContent{
  composes: col-md-offset-1 from './bootstrap.css';
  .tags{
    font-size: 13px;
  }
}

.tags{
  margin: 10px 0 10px;
  .t{margin: 0 24px 0 6px;}
}
.tag{
  cursor: pointer;
  display: inline-block;
  margin: 4px 6px;
  background: #e8e8e8;
  padding: 4px 14px;
  border-radius: 12px;
}


.right{
  composes: col-md-4 from './bootstrap.css';
  composes: hidden-sm from './bootstrap.css';
  font-size: 13px;
  color: #767676;
  padding: 15px;
}

@media (min-width: 992px) {
  .genreData{
    composes: col-xs-offset-1 from './bootstrap.css';
    composes: col-xs-10 from './bootstrap.css';
  }
}
