@import './mixins.css';

.genre{
  position: absolute;
  display: flex;
}

.genreHeader{
  display: inline-block;
  padding: 0 4%;
  background-size: contain;
  @add-mixin mdPaddingOffsetCol 1;
}

.requestSpan{
  font-weight: 500;
  font-size: 13px;
  margin-left: auto;
  color: #9a9a9a;
  cursor: not-allowed;
}


.left{
  width: 67%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 58px 0;
  min-height: calc(100vh - 50px);
  background-color: white;
  align-content: flex-start;
}

.leftContent{
  @add-mixin mdPaddingOffsetCol 1;
}

.tags{
  font-size: 13px;
  background-color: white;
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tag{
  cursor: pointer;
  display: inline-block;
  margin: 4px 6px;
  background: #e8e8e8;
  padding: 4px 14px;
  background: #e8e8e8;
  border-radius: 12px;
  cursor: pointer;
}


.right{
  width: 33%;
  font-size: 13px;
  color: #767676;
  padding: 15px;
}


@media (max-width: 992px) {
  .leftContent{
    margin: 0 15px;
  }
}

@media (max-width: 900px) {
  .right{
    background: white;
    display: none;
  }
  .left{
    width: 100%;
  }
}
