.root{
  margin: auto 14px;
}

.avatar{
  height: 28px;
  width: 28px;
  border-radius: 4px;
}

.username{
  color: white;
  font-weight: 500;
  padding-left: 10px;
  color: white;
  font-weight: 500;
  padding-left: 10px;
  max-width: 120px;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Sign in Button */
.icon{line-height: initial;}
.button{
  margin: auto 0;
  .icon, span:not([data-react-toolbox='tooltip']){
    line-height: normal;;
  }
}

.raised{
  padding: 0;
  min-width: 88px;
  color: #757575!important;
  .icon{
    font-size: 24px;
    margin-right: 1px;
  }
  .signInTitle{
    position: relative;
    top: 1px;
  }
}
