:root{
  --navHeight: 50px;
}

.root{
  width: 100%;
  height: var(--navHeight);
  display: block;
  z-index: 1;
}

.fixed{
  composes: root;
  position: fixed;
  background-color: #23365a;
}

.reg{
  height: var(--navHeight);
}
.leftReg{
  composes: col-xs-8 from './bootstrap.css';
  composes: reg;
  display: flex;
}
.rightReg{
  composes: col-xs-4 from './bootstrap.css';
  composes: reg;
}


.brand{
  composes: col-md-offset-1 from './bootstrap.css';
  composes: col-md-2 from './bootstrap.css';
  height: var(--navHeight);
  padding: 2px;
  min-width: 108px;
  display: inline-flex;

  .logo{
    width: 24px;
    height: 24px;
    position: relative;
    top: -2px;
  }

  .title{
    font-size: 27px;
    font-weight: 700;
    padding-left: 3px;
    position: relative;
    top: 4px;
    letter-spacing: 1.5px;
    color: white;
  }
}

.search{
  composes: col-md-8 from './bootstrap.css';
  composes: col-sm-10 from './bootstrap.css';
  padding: 0;
  height: var(--navHeight);
  display: flex;
  justify-content: center;
  align-items:center;
  display: inline-flex;
}
