/* Slider theme */
@import 'react-toolbox/lib/slider/theme.css';
:root {
  --unit: 14px;
  --slider-main-color: rgba(255, 255, 255, 1);
  --slider-knob-size: calc(1 * var(--unit));
  --slider-inner-knob-size: calc(1 * var(--unit));
}
.slider{
  width: 100%;
  &:focus .knob, &.pinned .innerknob, &.ring .innerknob {
    background-color: var(--slider-main-color);
  }
  .innerknob{cursor: pointer;}
  .progress .innerprogress {
    background: #989ba1;

    [data-ref='value'] {
      background-color: #4a98c8;
    }
  }
}
/* end Slider theme */


.playIcon, .pauseIcon, .prevIcon, .nextIcon, .volumeIcon, .currentQueueIcon, .currentQueueIconActive{
  composes: material-icons from './fonts.css';
}
.playIcon, .pauseIcon{
  font-size: 28px;
  border-radius: 60px;
  background-color: #5bbbff;
  padding: 5px;
  margin: 0;
}
.prevIcon, .nextIcon{font-size: 26px;}
.volumeIcon{
  margin: 0 0 0 10px;
  font-size: 26px;
}
.currentQueueIcon{
	font-size: 28px;
	border-radius: 60px;
	padding: 5px;
	color: #959fad;
}
.currentQueueIconActive{
	composes: currentQueueIcon;
	background-color: #525d7a;
	color: white;
}
.playerMenuIcon, .rpIcon{
  composes: currentQueueIcon;
  display: none;
}
.playerMenuIconActive, .rpIconActive{
  composes: currentQueueIconActive;
  display: none;
}

:root{
  --playerHeight: 50px;
  --iframePlayerHeight: 135px;
}

.root{
  position:fixed;
  bottom: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  background: #273558;
  color: #fff;
  font-size: 13px;
  align-items: center;

  i{cursor: pointer;}

  > * {
    display: flex;
    align-items: center;
  }
}

.playerArea{
  display: flex;
  width: 100%;
  > * {
    display: flex;
    align-items: center;
    margin: 0 4px;

    > * {
      margin: 0 7px;
    }
  }
}


.infoArea{
  width: calc(12.5% + var(--playerHeight) * 1.4 + 7px);
  margin-left: 0;

  .artwork {
    margin-left: 0;
    height: var(--playerHeight);
    width: calc(var(--playerHeight) * 1.4);

    img{
      height: 100%;
      max-width: calc(var(--playerHeight) * 1.4);
    }
  }

  .info {
    width: 100%;
    overflow: hidden;
    color: white;
    .title, .artist {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title{
      margin: 0 0 4px;
      font-size: 14px;
      font-weight: 600;
    }
    .artist{
      font-size: 12px;
    }
  }
}


.volumeArea {
  width: 12.5%;
  > * {
    margin: 0 2px;
  }
}
.progressArea {
  flex-grow: 1;
  > * {
    margin: 0 4px;
  }
}

.reactPlayer{
  position: absolute;
  height: var(--iframePlayerHeight)!important;
  width: 33%!important;
  margin: 0;
  bottom: 50px;
  right: 0;
  background-color: black;
}

.queueContainer{
  position: absolute;
  top: calc(-100vh + 100px);
  height: calc(100vh - 100px - var(--iframePlayerHeight));
  width: 33%;
  right: 0;
  background-color: #e5e5e5;
  margin: 0;

  transition: transform .15s linear;

  &.p0{
    transform: translateX(100%);
  }
}

.menuIconArea{
  margin: 0 14px;
}


@media (max-width: 650px) {
  .playIcon, .pauseIcon, .prevIcon, .nextIcon{
    font-size: 36px;
  }

  .root{
    flex-wrap: wrap;
    width: 100%;


    > * {
      width: 100%;
      min-height: var(--playerHeight);
      justify-content: center;
      background-color: #273558;
      transition: transform .15s linear;
    }
  }


  .playerArea{
    flex-wrap: wrap;
    order: 1;
    z-index: 1;
    position: absolute;
    bottom: 50px;


    &.p0{
      transform: translateY(100%);
    }

    > * {
      width: 100%;
      min-height: var(--playerHeight);
      justify-content: center;

      > * {
        margin: 0;
      }
    }

    .infoArea{
      order: 1;
      margin: 4px;

      .artwork{
        img{
          border-radius: 4px;
        }
      }
      .info{
        margin-left: 10px;
      }
    }

    .volumeArea{
      order: 4;
    }

    .playbackArea{
      order: 3;
      justify-content: space-around;
    }

    .progressArea{
      order: 2;
      margin: 0 6px;
    }

  }


  .reactPlayer{
    order: 0;
    width: 100%!important;
    height: calc(100vh - 258px)!important;
    position: absolute;
    bottom: 258px;

    transition: transform .15s linear, height .075s linear .075s;

    &.p0{
      transform: translateY(calc(100% + 208px));
      height: 208px!important;
    }
    &.p1{
      transform: translateY(208px);
      height: 208px!important;
    }
  }


  .queueContainer{
    order: 0;
    position: absolute;
    top: calc(-100vh + 51px);
    height: calc(100vh - 258px);

    transition: transform .15s linear, height .075s linear .075s;

    &.p0{
      transform: translate(0, calc(-100vh + 51px));
    }
    &.p1{
      transform: translateY(calc(100vh - 258px));
      height: 208px;
    }
  }


  .menuIconArea{
    order: 3;
    justify-content: space-around;
    margin: 0;
    z-index: 2;
    height: 51px;

    > * {
      display: flex;
    }
  }
}
