.feedIcon, .favoriteIcon{
  composes: material-icons from './fonts.css';
  font-size: 22px;
}


.profile{
  padding-top: 28px;
}

.leftReg{
  composes: col-md-8 from './bootstrap.css';
}
.rightReg{
  composes: col-md-4 from './bootstrap.css';
}

.userData{
  composes: col-md-offset-1 from './bootstrap.css';
}

.userInfo{
  display: flex;
  padding: 6px 0;
}
.avatar{
  height: 32px;
  width: 32px;
}
.info{
  padding-left: 16px;
  padding-left: 16px;
  position: relative;
  top: -5px;
}
.name{
  font-size: 17px;
  color: #61b3fa;
}
.followersCount{
  font-size: 12px;
  color: #7c7c7c;
}

.followedBtn, .followBtn{
  margin-left: auto;
}
.followedBtn{
  background-color: #0091ea!important;
}
.followBtn{
  color: #606060!important;
  background-color: #e0e0e0!important;
}

.streams{
}

.similarUsers{
  .title{
    margin: 0 0 14px;
    color: #6b6b6b;
    font-size: 13px;
  }
}
