.feedIcon, .favoriteIcon{
  composes: material-icons from './fonts.css';
  font-size: 22px;
}


.root{
  padding-top: 28px;
  display: flex;
}

.leftReg{
  composes: col-md-8 from './bootstrap.css';
}
.rightReg{
  composes: col-md-4 from './bootstrap.css';
  composes: hidden-sm from './bootstrap.css';
  composes: hidden-xs from './bootstrap.css';
}

.userData{
  composes: col-md-offset-1 from './bootstrap.css';
}

.streams{
}

.similarUsers{
  .title{
    margin: 0 0 14px;
    color: #6b6b6b;
    font-size: 13px;
  }
}
