.clearIcon, .saveIcon, .dragHandler {
  composes: material-icons from './fonts.css';
}
.clearIcon{
  color: #6f6f6f;
  cursor: pointer;
  font-size: 22px;
  &.disabled{
    color: darkgrey;
    cursor: default;
    pointer-events: none;
  }
}


.root{
  height: 100%;
  width: 100%;
  background-color:  #eaeaea;
  display: flex;
  flex-wrap: wrap;
}

.header{
  height: 50px;
  font-size: 13px;
  color: #6a6a6a;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 14px;
  width: 100%;

  .icons{
    display: flex;
  }
}

.items{
  padding: 0 14px;
  width: 100%;
  height: calc(100% - 50px);
  overflow: auto;
}


.sortableItem{
  display: flex;
  z-index: 2;
  background-color: inherit;

  .item{
    width: 100%;
    overflow: hidden;
  }
}
.dragHandler{
  margin: auto 12px auto 0;
  color: #7b7b7b;
  cursor: move;
}
