.editIcon{
  composes: material-icons from './fonts.css';
  cursor: pointer;
}


.errMssg{
  color: red;
  font-size: 13px;
}

.root{
  composes: root from './streamPublication.css';

  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}


.header{
  composes: header from './streamPublication.css';
  width: 100%;

  .buttons{
    display: flex;
  }
}

.body{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.left{
  composes: left from './streamPublication.css';
  padding: 0;
}
.right{
  width: 33%;
  padding: 15px 15px 200px;
  min-height: 100vh;
  background-color: #f7f7f7;
}


.coverArea{
  background-color: gray;
  background: linear-gradient(white, gray);
  background-size: contain;
  flex: 1 100%;

  .bgArtworkUpdateArea{
    padding: 14px 20px 0;
    display: flex;
    justify-content: flex-end;
  }

  .card{
    margin: 0 10%;
    background-color: white;
    display: flex;

    .artworkHolder{
      height: 120px;
      width: 120px;
      min-width: 120px;
      background-color: gray;
      justify-content: center;
      align-items: center;
      display: flex;
      background-size: contain;
    }

    .inputs{
      width: 100%;
      margin: 0 28px;

      .title{
        width: 45%;
      }

      .description{
        width: 85%;
      }
    }

  }
}

.genreArea{
  margin: 36px 0;
  padding: 0 7%;
}


@media all and (max-width: 900px) {
  .body{
    flex-wrap: wrap;
  }

  .left, .right{
    width: 100%;
  }

  .coverArea .card{
    margin: 0 16px;

    .inputs{
      margin: 0 4%;
      .title{
        width: 70%;
      }
    }
  }

  .genreArea{
    padding: 0 15px;
  }
}


@media all and (max-width: 540px) {
  .coverArea .card{
    flex-wrap: wrap;
    justify-content: center;

    .inputs{
      margin: 0 2%;
      .title{
        width: 80%;
        margin: auto;
      }
      .description{
        width: 100%;
      }
    }
  }
}


/* Input theme */
.label{
  top: 22px;
  font-size: 14px;
  font-weight: 500;
}

.input{
  padding: 16px 0;
}
/* end Input theme */
