.shareIcon{
  composes: material-icons from './fonts.css';
}

.shareIcon{
  font-size: 20px;
  margin-right: 4px;
}
.facebookIcon{
  composes: fa from './fontAwesome.css';
  composes: fa-facebook-square from './fontAwesome.css';
  font-size: 18px;
}


.icon{
  composes: button from './streamCard.css';
}
.iconMenu{
  display: flex;
  .icon{
    height: initial;
    width: initial;
    line-height: initial;
    min-height: initial;
    color: inherit!important;
    &:hover, &:active{
      border-radius: 0;
      background-color: #f2f2f2;
    }
    span{
      display: flex;
      align-items: center;
    }
  }

  .menu{
    z-index: 400;
  }
}

.menuItem{
  composes: menuItem from './queue.css';
  .caption{
    font-size: 14px;
  }
  .icon{
    font-size: 16px;
  }
}
