.shareIcon{
  composes: material-icons from './fonts.css';
  position: relative;
}

.shareIcon{
  font-size: 20px;
  top: 2px;
  margin-right: 4px;
}
.facebookIcon{
  composes: fa from './fontAwesome.css';
  composes: fa-facebook-square from './fontAwesome.css';
  font-size: 18px;
}


.icon{
  composes: button from './streamDescription.css';
}
.iconMenu{
  .icon{
    height: initial;
    width: initial;
    line-height: initial;
    min-height: initial;
    color: inherit!important;
    &:hover, &:active{
      border-radius: 0;
      background-color: #f2f2f2;
    }
    span{
      line-height: normal!important;
    }
  }

  .menu{
    z-index: 400;
  }
}

.menuItem{
  composes: menuItem from './queue.css';
  .caption{
    font-size: 14px;
  }
  .icon{
    font-size: 16px;
  }
}

.shareLabel{
  position: relative;
  top: -2px;
}
