.removeIcon, .addIcon, .playIcon, .pauseIcon{
  composes: material-icons from './fonts.css';
  cursor: pointer;
}
.removeIcon, .addIcon{
  padding: 6px;
  border-radius: 50%;
}
.playIcon, .pauseIcon{
  font-size: 26px;
  color: white;
  padding: 8px;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  &:hover, &:active {background-color: rgba(0, 0, 0, 0.8);}
}


.root{
  background-color: transparent;
  display: flex;
  margin: 10px 0;
  &:hover, &:active{
    background-color: #e5e5e5;
    .icons{visibility: visible;}
  }
}

.artwork{
  width: 90px;
  height: 68px;
  img{
    height: 100%;
    width: 100%;
  }
}

.info{
  width: calc(100% - 90px - 40px);
  padding-left: 18px;

  .title, .artist{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist{
    color: #343434;
    padding: 4px 0 2px 0;
  }

  .artist, .duration{
    font-size: 13px;
    color: #9a9a9a;
  }
}

.icons{
  width: 40px;
  margin: auto;
  visibility: hidden;
}

.playPause{
  position: relative;
  width: 40px;
  height: 40px;
  left: 24px;
  bottom: 55px;
}
