.root{
  background-color: transparent;
  display: flex;
  &:hover, &:active{
    background-color: #e5e5e5;
    .icons{visibility: visible;}
  }
}

.artwork{
  width: 90px;
  height: 68px;
  img{
    height: 100%;
    width: 100%;
  }
}

.info{
  width: calc(100% - 90px - 40px);
  padding-left: 18px;

  .title, .artist{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist{
    padding: 4px 0 2px 0;
  }

  .artist, .duration{
    font-size: 13px;
    color: #9a9a9a;
  }
}

.icons{
  width: 40px;
  margin: auto;
  visibility: hidden;
}

.removeIcon, .addIcon{
  composes: material-icons from './fonts.css';
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
}
