.removeIcon, .addIcon, .playIcon, .pauseIcon, .likeIcon, .likedIcon, .lengthIcon, .durationIcon{
  composes: material-icons from './fonts.css';
  cursor: pointer;
}
.removeIcon, .addIcon{
  padding: 6px 12px 6px 0;
  border-radius: 50%;
}
.playIcon, .pauseIcon{
  font-size: 26px;
  color: white;
  padding: 8px;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  &:hover, &:active {background-color: rgba(0, 0, 0, 0.8);}
}
.likeIcon{
  color: #757575;
  font-size: 44px;
  margin: auto 14px;
}
.likedIcon{
  composes: likeIcon;
  color: #fc717b;
}

.lengthIcon{
  font-size: 20px;
}
.durationIcon{
  font-size: 15px;
  margin: 3px 1px;
}


.root{
  background-color: transparent;
  display: flex;
  margin: 10px 0;
  color: #343434;
  font-size: 14px;
  &:hover, &:active{
    background-color: #e5e5e5;
    .icons{visibility: visible;}
  }
}

.likeArea{
  display: flex;
  text-align: center;
  width: 85px;
  span{
    color: #9a9a9a;
    font-size: 13px;
    margin: auto;
    padding-left: 6px;
  }
}

.artwork{
  width: 90px;
  min-width: 90px;
  height: 68px;
  img{
    height: 100%;
    width: 100%;
  }
}

.info{
  width: calc(100% - 90px - 40px);
  padding-left: 18px;
  .withLikeArea{
    height: calc(100% - 90px - 40px - 85px);
  }

  .title, .artist{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .artist{
    color: #343434;
    padding: 4px 0 2px 0;
  }

  .artist, .duration{
    font-size: 13px;
    color: #9a9a9a;
  }
}

.icons{
  width: 40px;
  margin: auto;
  visibility: hidden;
}

.playPause{
  position: relative;
  width: 40px;
  height: 40px;
  left: 24px;
  bottom: 55px;
}

.recentlyLiked{
  composes: root;
  .icons{
    visibility: visible;
  }
  .addIcon{
    color: #8d8d8d;
  }


  .time{
    margin: 1px 0;
    color: #9a9a9a;
    display: flex;

    .length, .duration{
      display: inline-flex;
      margin-right: 6px;
      span{
        font-size: 14px;
        margin: auto;
      }
    }
  }

  .streamArtwork{
    width: 76px;
    min-width: 76px;
    height: 76px;
    img{
      height: 100%;
      width: 100%;
    }

    .playPause{
      left: 17px;
      bottom: 59px;
    }
  }

  .streamTitle{
    color: #343434;
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .tags{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    .tag{
      cursor: pointer;
      font-size: 13px;
      display: inline-block;
      background: #e8e8e8;
      padding: 3px 10px;
      border-radius: 12px;
      margin: 6px 8px 0 0;
    }
  }
}
