.lengthIcon, .durationIcon, .likeIcon, .likedIcon, .playlistAddIcon, .shareIcon, .playIcon, .pauseIcon, .commentsIcon{
  composes: material-icons from './fonts.css';
}
.lengthIcon, .durationIcon, .likeIcon, .likedIcon, .playlistAddIcon, .shareIcon{
  position: relative;
}

.lengthIcon{
  top: -1px;
  font-size: 20px;
  margin-right: 4px;
}
.durationIcon{
  font-size: 15px;
  top: 2px;
  margin: 0 2px 0 12px;
}
.commentsIcon{
  font-size: 18px;
  margin: 0 2px 0 12px;
}
.likeIcon, .likedIcon{
  font-size: 18px;
}
.likeIcon{
  top: 3px;
  margin-right: 4px;
}
.likedIcon{
  color: #fc717b;
  margin-right: 4px;
}
.playlistAddIcon{
  font-size: 22px;
  top: 5px;
  margin-right: 2px;
}
.shareIcon{
  font-size: 20px;
  top: 4px;
  margin-right: 4px;
}

.playIcon, .pauseIcon{
  font-size: 46px;
  color: white;
  padding: 14px;
  cursor: pointer;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.5);

  &:hover, &:active {background-color: rgba(0, 0, 0, 0.8);}
}

.facebookIcon{
  composes: fa from './fontAwesome.css';
  composes: fa-facebook-square from './fontAwesome.css';
  font-size: 18px;
}


.root{
  background-color: white;
  margin: 20px 0;
//  height: 274px;
  color: #040404;
  padding: 14px 18px;
}

.header{
  display: flex;
  b{font-weight: 500;}
  a{
    color: #0e8ffc;
    cursor: pointer;
  }
  .avatar{
    height: 20px;
    width: 20px;
    margin: 0 4px;
    border-radius: 4px;
  }
  .editArea{
    margin-left: auto;
    span{
      cursor: pointer;
      &:hover, &:active{
        text-decoration: underline;
      }
    }
  }
}

.body{
  margin: 14px 0;
  display: flex;
  .artwork{
    display: inline-block;
    padding: 0;
    height: 140px;
    width: 140px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .info{
    display: inline-block;
    width: calc(100% - 140px);
    height: 140px;
    padding-left: 40px;
    .title{
      font-size: 22px;
      text-decoration: underline;
    }

    .time{
      margin: 14px 0;
      color: #757575;
      display: flex;
      .length, .duration, .commentsCount{
        display: inline-flex;
      }
    }

    .description{
      b{font-weight: 500;}
    }
  }
}



.tags{
  margin: 10px 0 25px;
  .t{margin-right: 8px;}
}
.tag{
  cursor: pointer;
  display: inline-block;
  margin: 4px 6px;
  background: #e8e8e8;
  padding: 4px 14px;
  border-radius: 12px;
}

.footer{
  margin-top: 10px;
  color: #757575;
  .leftReg{
    display: inline-block;
    width: 33.3%;
  }
  .rightReg{
    display: inline-block;
    text-align: right;
    width: 66.7%;
    position: relative;
    top: -3px;
  }
  .flex{display: flex;}
  .iconDescription{
  //  margin-left: 20px;
    cursor: pointer;
  }
}

.playPause{
  position: relative;
  width: 80px;
  height: 80px;
  left: 34px;
  bottom: 107px;
}


/* Buttons theme */
.button{
  height: inherit;
  padding: 0 6px;
  margin: 0 2px;
  vertical-align: text-bottom;
  min-width: 0;

  &.neutral:not([disabled]).raised{
    color: inherit;
    line-height: inherit;
    &:hover{
      color: #343434;
      background-color: #f2f2f2;
    }
  }
  &.raised{
    box-shadow: none;
  }
  span{
    text-transform: none;
    line-height: inherit!important;
  }
}
/* end Buttons theme */

/* IconMenu theme */
.icon{
  composes: button;
}
.iconMenu{
  .icon{
    height: initial;
    width: initial;
    line-height: initial;
    min-height: initial;
    color: inherit!important;
    span{
      line-height: normal!important;
    }
  }

  .menu{
    z-index: 400;
  }
}

.menuItem{
  composes: menuItem from './queue.css';
  .caption{
    font-size: 14px;
  }
  .icon{
    font-size: 16px;
  }
}
/* end IconMenu theme */
