.root{
  width: 100%;
}


.separated{
  width: 100%;
  display: inline-block;
}
.fullStreamContainer{
  composes: col-md-8 from './bootstrap.css';
  padding: 0;
  background-color: white;
}
.fullStream{
  composes: col-md-offset-1 from './bootstrap.css';
}


.tabs{
  background-color: white;
  height: 100%;
}
